- name: Install and run Nginx on Alpine nodes
  hosts: docker_nodes
  become: true

  tasks:
    - name: Check connectivity
      ping:

    - name: Install nginx
      apk:
        name: nginx
        state: present

    - name: Create nginx run directory
      file:
        path: /run/nginx
        state: directory

    - name: Start nginx
      command: nginx
      args:
        creates: /run/nginx/nginx.pid
